@font-face {
    src: url("./res/font/Poppins-Regular.ttf");
    font-family: Poopins;
}

* {
    font-family: Poopins;
}

body {
    padding: 0;
    margin: 0;
    overflow: hidden;
}

canvas {
    z-index: -1;
}

#notification {
    position: fixed;
    bottom: 20px;
    left: 20px;
    width: 200px;
    padding: 20px;
    border-radius: 5px;
    background-color: #535353;
    box-shadow: 2px 2px 5px 5px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.hidden {
    display: none;
}

#close-button, #restart-button {
    cursor: default;
    transition: 0.3s;
}

#close-button:hover, #restart-button:hover {
    color: #00ffe1;
}

.controller {
    position: fixed;
    bottom: 0;
    left: 0;
    height: 150px;
    width: 100%;
    background-color: #bbbbbb;
    z-index: 0;
}

.mainMusicControl {
    position: absolute;
    left: 50%;
    top: 10%;
    width: 200px;
    height: 30px;
    padding: 15px;
    margin-left: -115px;
    text-align: center;
}

.mainMusicControl > div > a > img {
    width: 35px;
}

.progressControl {
    position: absolute;
    bottom: 15px;
    left: 15px;
    width: 250px;
    padding: 15px;
}

.progressControl > .bar {
    width: 200px;
    padding: 3px;
    background: #969696;
    border-radius: 5px;
}

.progressControl > .bar > #fill {
    width: 100%;
    height: 5px;
    border-radius: 5px;
    background: linear-gradient(to left, #00d9bc, #00c3ac, #00d9bc);
}

.progressControl > #musicTime {
    font-size: 12px;
    transition: 0.3s;
    cursor: default;
    width: 206px;
}

.progressControl > #musicTime:hover {
    font-size: 18px;
}

.progressControl > #musicTitle {
    font-size: 12px;
    transition: 0.3s;
    cursor: default;
    width: 206px;
    overflow:hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.windowControl {
    position: absolute;
    right: 15px;
    bottom: 15px;
    width: 290px;
    padding: 15px;
    text-align: right;
}

.windowControl > a {
    margin: 0 2px;
}

.windowControl > a > img {
    width: 30px;
}

.windowControl >  .loadURL >  #loadURLForm > input[type="url"] {
    width: 230px;
    border-width: 1px;
    border-radius: 5px;
    outline: none;
}

.windowControl >  .loadURL >  #loadURLForm > input[type="url"]:focus {

}

.windowControl >  .loadURL >  #loadURLForm > input[type="submit"] {
    padding: 1px 9px;
    background-color: #13dbe4;
    border-width: 1px;
    border-radius: 4px;
}

.loopControl {
    position: absolute;
    bottom: 15px;
    left: 58%;
    width: 250px;
    padding: 15px;
}

.loopControl > a > img {
    width: 30px;
}

.loopControl > a > #playlistControl.notUse {
    filter: grayscale(1) invert(0.46) ;
}

.loopControl > a > #randomControl.notUse {
    filter: grayscale(1) invert(0.46) ;
}

.toggleShow {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    position: fixed;
    left: 50%;
    bottom: 0;
    padding: 5px 10px;
    background-color: #454545;
    color: white;
    width: 50px;
    margin-left: -30px;
    text-align: center;
    box-shadow: 0 0 5px 0 #000000;
}

.toggleShow > img {
    width: 25px;
    height: auto;
    margin-bottom: -10px;
    transition: 0.3s;
}

.toggleShow > img.light {
    width: 30px;
    height: auto;
}

.modeControl {
    position: fixed;
    left: 0;
    bottom: 0;
    height: 150px;
}

.modeControl > a {
    padding: 5px 10px;
    background-color: #454545;
    color: white;
    display: block;
    float: left;
    cursor: default;
}

.modeControl > a:last-of-type {
    border-bottom-right-radius: 15px;
}

.modeControl > a:hover {
    color: #00ffe1;
}

.modeControl > a.active {
    color: #00c3ac;
}
